<?xml version="1.0"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

    <aop:aspectj-autoproxy/>

    <bean id="newRelicTransactionAdvice" class="net.pixelcat.newrelic.aop.NewRelicTransactionAdvice">
        <property name="newRelicProxy" ref="newRelicProxyBean"/>
    </bean>
    <bean id="newRelicProxyBean" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="targetSource" ref="newRelicProxySwappable"/>
    </bean>
    <bean id="newRelicProxySwappable" class="org.springframework.aop.target.HotSwappableTargetSource">
        <constructor-arg ref="newRelicProxy"/>
    </bean>

    <bean id="newRelicProxy" class="net.pixelcat.newrelic.support.NewRelicProxyImpl"/>
    <bean id="testTransaction" class="net.pixelcat.newrelic.test.TestTransaction"/>
</beans>